.navbar {
    color: white;
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
} 
.container {
    display: flex;
    padding: 0px 45px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    
}
.container span {
    margin-right: 20px;
    cursor: pointer;
}
.left img {
    height: 25px;
    margin-right: 40px;
}

.right img {
    width:30px;
    border-radius: 5px;
    height: 25px;
    object-fit: cover;
} 
.left {
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}