.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bk-img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}


.header {
    height:100px;
    width: 100%;
    /* background-color: black; */
}

.logo {
    object-fit: contain;
    height:100px;
    width: 200px;
    object-position: left top;
    border-radius: 7px;
}

.input-container {
    background-color: rgba(3, 3, 3, 0.774);
    justify-content: center;
    align-items: center;
    position: sticky;
    border-radius:12px;
    margin: 150px;
    height: 400px;
    width: 300px;
    font-size: x-large;
}


h3 {
    padding: 50px;
    text-align: left;
    color: red;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    font-size: larger;
    
}

.centered-input {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type=text] {
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    color: rgb(202, 202, 202);
    background-color: rgb(75, 75, 75);
  }

  input[type=password] {
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    color: rgb(202, 202, 202);
    background-color: rgb(75, 75, 75);
  }


.centered-btn {
    margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.btn {
   background-color: red;
   border-radius: 7px;
   height: 30px;
   width: 150px;
   cursor: pointer;
   font-family: 'Nanum Gothic', sans-serif;
   color:aliceblue;
   font-weight: 900;
   font-size: large;
}

.btn:active {
    background-color: rgb(160, 9, 9);
    transform: translateY(4px);
}





